/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --fm-dark: #34495E;
  --fm-light: #ffffff;
  --fm-success: #0ABF30;
  --fm-error: #E24D4C;
  --fm-warning: #E9BD0C;
  --fm-info: #3498DB;
}

.notifications {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 9999;
}

.notifications :where(.flash-message, .column) {
  display: flex;
  align-items: center;
}

.notifications .flash-message {
  width: 400px;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: var(--fm-light);
  justify-content: space-between;
  animation: show_flash_message 0.3s ease forwards;
}

@keyframes show_flash_message {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}

.notifications .flash-message.hide {
  animation: hide_flash_message 0.3s ease forwards;
}

@keyframes hide_flash_message {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}

.flash-message::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    width: 0%;
  }
}

.flash-message.success::before, .btn#success {
  background: var(--fm-success);
}

.flash-message.error::before, .btn#error {
  background: var(--fm-error);
}

.flash-message.warning::before, .btn#warning {
  background: var(--fm-warning);
}

.flash-message.info::before, .btn#info {
  background: var(--fm-info);
}

.flash-message .column i {
  font-size: 1.75rem;
}

.flash-message.success .column i {
  color: var(--fm-success);
}

.flash-message.error .column i {
  color: var(--fm-error);
}

.flash-message.warning .column i {
  color: var(--fm-warning);
}

.flash-message.info .column i {
  color: var(--fm-info);
}

.flash-message .column span {
  font-size: 1.07rem;
  margin-left: 12px;
}

.flash-message i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}

.flash-message i:last-child:hover {
  color: var(--fm-dark);
}

.buttons .btn {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 5px;
  color: var(--fm-light);
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 4px;
}

@media screen and (max-width: 530px) {
  .notifications {
    width: 95%;
  }
  .notifications .flash-message {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }
  .buttons .btn {
    margin: 0 1px;
    font-size: 1.1rem;
    padding: 8px 15px;
  }
}
