<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mindly.ai</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/5xxErrorStyle.css">
</head>

<body>
    <!-- partial:index.partial.html -->
    <main>
        <div id="wrap">
            <div class="hand hand-left">
                <span class='hand-part part-top'></span>
                <span class='hand-part part-middle'></span>
                <span class='hand-part part-bottom'></span>
            </div>
            <div class="hand hand-right">
                <span class='hand-part part-top'></span>
                <span class='hand-part part-middle'></span>
                <span class='hand-part part-bottom'></span>
            </div>
            
            <div class='line line-1'>
                <div class="ball">5</div>
            </div>
            <div class='line line-2'>
                <div class="ball">0</div>
            </div>
            {% if error_type == '500' %}
            <div class='line line-3'>
                <div class="ball">0</div>
            </div>
            {% elif error_type =='502' %}
            <div class='line line-3'>
                <div class="ball">2</div>
            </div>
            {% elif error_type =='503' %}
            <div class='line line-3'>
                <div class="ball">3</div>
            </div>
            {% elif error_type =='504' %}
            <div class='line line-3'>
                <div class="ball">4</div>
            </div>
            {% elif error_type =='505' %}
            <div class='line line-3'>
                <div class="ball">5</div>
            </div>
            {% endif %}
            <div id="server">
                <div class="eye eye-left"><span></span></div>
                <div class="eye eye-right"><span></span></div>
                <div class="block">
                    <div class="light"></div>
                </div>
                <div class="block">
                    <div class="light"></div>
                </div>
                <div class="block">
                    <div class="light"></div>
                </div>
                <div class="block">
                    <div class="light"></div>
                </div>
                <div class="block">
                    <div class="light"></div>
                </div>
                <div id="bottom-block">
                    <div class="bottom-line"></div>
                    <div id="bottom-light"></div>
                </div>
            </div>
        </div>

        <div id="code-error">
            <h1>Internal Server Error!</h1>
            <p>{{ error_message }}</p>
            <a href="/"> <button class="button">Home</button></a>
        </div>

    </main>
    <!-- partial -->

</body>

</html>